
<!-- 

This general error page will be displayed for HTTP error status code 403 ,404, and 500

 -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Error - Shopme', 'none')}"/>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid">
			
			<!-- navigation bar -->
		<div th:replace="~{navigation :: header_menu}"></div>

		<div class="m-3">
			<h2>Sorry, an unexpected error has occurred</h2>
		</div>

		<!-- footer -->
		<div th:replace="~{navigation :: footer_menu}"></div>

	</div>
</body>
</html>